#pcb-canvas {
	background-color: lightblue;
	box-shadow: 3px 3px;
	cursor: none;
	position: absolute;
}

#pcb-don-studio {
	background-image: url("../media/studio.jpg");
	background-size: cover;
	height: 100%;
	position: fixed;
	width: 100%;
}