a {
	color: #08c;
	text-decoration: none;
}

body {
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 18px;
}

.pcb-dlg {
	background-color: #fff;
	overflow: hidden;
	position: fixed;
	z-index: 100;
}

#pcb-dlg-import {
	background-color: inherit;
	height: 480px;
	width: 640px;
}

#pcb-dlg-import h1 {
	background-color: #ccc;
	cursor: pointer;
	line-height: 36px;
	margin-top: 2px;
	padding-left: 6px;
}

.pcb-dlg-import-collapsible {
	background-color: #fff;
	padding-bottom: 9px;
	padding-left: 6px;
	padding-top: 9px;
}

#pcb-dlg-part {
	background: inherit;
	left: 46px;
	overflow: visible;
	top: 110px;
}

#pcb-dlg-part-info {
	background: #fff;
	left: 165px;
	max-height: 240px;
	overflow-y: auto;
	padding-left: 4px;
	padding-right: 4px;
	position: absolute;
	width: 160px;
}

.pcb-dlg-part-info-comments {
}

.pcb-dlg-part-info-comments > li {
	text-indent: 10px;
}

.pcb-dlg-part-info-description {
	font-style: italic;
}

.pcb-dlg-part-info-dimensions {
}

.pcb-dlg-part-info-h {
}

.pcb-dlg-part-info-name {
}

.pcb-dlg-part-info-pins {
}

.pcb-dlg-part-info-pins > li {
	text-indent: 10px;
}

.pcb-dlg-part-info-suppliers {
}

.pcb-dlg-part-info-suppliers > li {
	text-indent: 10px;
}

#pcb-dlg-part-list {
	max-height: 240px;
	overflow-y: auto;
	position: absolute;
	width: 160px;
}

#pcb-dlg-part-list > li {
	background-color: #fff;
	cursor: pointer;
	padding-left: 4px;
	padding-right: 4px;
}

#pcb-dlg-part-list > li:hover {
	background-color: #ccc;
}

.pcb-dlg-part-list-selected {
	font-weight: bold;
}

#pcb-doc {
	position: fixed;
	right: 12px;
	text-align: right;
	top: 40px;
}

.pcb-icon {
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	height: 30px;
	left: 5px;
	position: fixed;
	width: 30px;
}

#pcb-icon-import {
	background-image: url("../img/icon-import-bg.png");
	top: 145px;
}

.pcb-tool {
}

#pcb-tool-draw {
	background-image: url("../img/icon-draw-bg.png");
	top: 5px;
}

#pcb-tool-erase {
	background-image: url("../img/icon-erase-bg.png");
	top: 40px;
}

#pcb-tool-drill {
	background-image: url("../img/icon-drill-bg.png");
	top: 75px;
}

#pcb-tool-part {
	background-image: url("../img/icon-part-bg.png");
	top: 110px;
}

#pcb-twitter {
	position: fixed;
	right: 12px;
	top: 5px;
}

.pcb-ui {
}

.pcb-ui-banner {
	background-color: rgb(255, 255, 255, 0.9);
	border-radius: 10px;
	line-height: 200px;
	position: fixed;
	text-align: center;
	width: 400px;
}

#pcb-ui-banner-loading {
}

#pcb-ui-banner-saving {
}